body {
  font-family: "Noto Sans", sans-serif;
  color: #495464;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  line-height: 28px;
}

h2 {
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  color: #bbbfca;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #495464;
  border-radius: 8px;
}

#search-form {
  margin-bottom: 30px;
}

.row {
  font-size: 14px;
}

.temperatureIcon {
  height: 100px;
  width: 100px;
  margin-top: -25px;
}

#currentTemperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: 5px;
}

.units {
  position: relative;
}

.active {
  color: #495464;
  cursor: default;
}

#celsiusLink {
  text-decoration: none;
}

#fahrenheitLink {
  text-decoration: none;
}

.units:hover {
  text-decoration: none;
}

.firstRow {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
}

.furtherInformation {
  text-align: center;
}

.weatherDescription:first-letter {
  text-transform: capitalize;
}

.windIcon {
  height: 16px;
  width: 16px;
}

#locationButton {
  font-size: 8px;
  height: 20px;
  width: 120px;
  padding: 3px;
  background-color: #eac7c7;
  color: #495464;
  border: #495464;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#forecastDay {
  opacity: 0.8;
}

#forecastTemperatureMax {
  color: hsl(0, 68%, 77%);
}

#forecastTemperatureMin {
  color: #eac7c7;
}
